.App, html, body, #root {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.Navbar {
    background-color: rgb(29, 29, 29);
    position: fixed;
    top: 0;
    left: auto;
    right: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: bold;
    font-family: Roboto;
    width: 100%;
    z-index: 1000;
    box-shadow: 0px 0px 5px black;
}

.Toolbar {
    display: flex;
    min-height: 56px;
    align-items: center;
    padding: 0px 10px;
}

.toolbar-content{
    /* display: flex; */
    width: 100vw;
}

.logo{ 
    height: 40px;
}

.help-button{ 
    background-color: rgb(29, 29, 29);
    border: none;
}

.help-icon{
    height: 40px;
}

.help-overlay{
    position: absolute;
    height: 60vh; 
    width:60vw; 
    background-color: rgba(19, 19, 19,0.9);
    border-radius: 25px;

    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.help-title{
    font-family: 'Comfortaa', cursive;
    text-align: center;
    width:100%;
    margin-top: 25px;
    color: white;
    font-size: larger; 
    font-weight: bold;
}

.help-table{ 
    padding: 30px;
    font-family: 'Comfortaa', cursive;
    color: white; 
    width: 100%;
}

.help-table td {
    height:1.8em;
    padding-left:1em;
    padding-right:1em;
}

.cmd-area{
    height:40px;
    width:30vw;
    min-width: 300px;
    background-color: rgb(43, 43, 43);
    border-radius: 20px;
    text-align: center;
    color: white;
    font-family: 'Comfortaa', cursive;
    line-height: 40px;

    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.grid-area {
    min-height: 100vh;
    min-width: 100vw;
    background-color: rgb(31, 31, 31);
    z-index: 1;
}

.canvas-area{
    position: absolute;
    text-align: center;
    margin:0;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    z-index: 0;
}

.colour-palette{
    position: absolute; 
    min-width: 100%;
    min-height:100%;
    pointer-events: none;
}

#grow-circle{
    position:fixed;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background-color:rgb(29, 29, 29);
    box-shadow: 0px 0px 5px black;
    transition: all 1s ease-out;

    top: 100%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9;
}

.small-circle{
    position: fixed; 
    width: 50px;
    height: 50px; 
    border-radius: 50%; 
    transition: all 1s ease-out;
    z-index: 11;
}

#mixing-circle{
    /* background-color: thistle; */
    top: 98%;
    left: 50%;
    transform: translate(-50%,-98%);
}

.pulse-circle{
    position: fixed; 
    display: none;
    width: 50px;
    height: 50px; 
    border-radius: 50%;
    top: 98%;
    left: 50%;
    transform: translate(-50%,-98%);
    z-index: 10;
    /* animation: pulse 1s ease-out */

}

@keyframes pulse {
    0% {
        transform: scale(1,1) translate(-50%,-98%); 
        opacity: 0
    }
    50% {
        opacity: 0.5
    }
    100% {
        transform: scale(1.5, 1.5) translate(-32%,-63%);
        opacity: 0
    }
}

.black{ 
    background-color: rgb(0,0,0);
    top: 40%;
    left: 13%;
    transform: translate(-13%,-40%);
    opacity: 0%;
}

.red{ 
    background-color: rgb(255,0,0);
    top: 20%;
    left: 25%;
    transform: translate(-25%,-20%);
    opacity: 0%;
}

.green{ 
    background-color: rgb(0,255,0);
    top: 10%;
    left: 50%;
    transform: translate(-50%,-10%);
    opacity: 0%;
}

.blue{ 
    background-color: rgb(0,0,255);
    top: 20%;
    left: 75%;
    transform: translate(-75%,-20%);
    opacity: 0%;
}

.white{ 
    background-color: rgb(255,255,255);
    top: 40%;
    left: 87%;
    transform: translate(-87%,-40%);
    opacity: 0%;
}

#mixing-circle{
    background-color: black;
    top: 98%;
    left: 50%;
    transform: translate(-50%,-98%);
}

/* .pulse-circle{
    position: absolute; 
    width: 50px;
    height: 50px; 
    border-radius: 50%; 
    transition: all 1s ease-out;

    z-index: 10;
    background-color:tomato;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
} */